@use 'src/styles/mixins' as *;

:root {
  --bright-bg: #ffffff;
  --bright-text: #000000;
  --bright-hover-bg: #f0f0f0;
  --bright-active-bg: #e0e0e0;

  --dark-bg: #333333;
  --dark-text: #ffffff;
  --dark-hover-bg: #444444;
  --dark-active-bg: #555555;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  outline: none;
  cursor: pointer;

  &--bright {
    @include theme(
      var(--bright-bg),
      var(--bright-text),
      var(--bright-hover-bg),
      var(--bright-active-bg)
    );
  }

  &--dark {
    @include theme(
      var(--dark-bg),
      var(--dark-text),
      var(--dark-hover-bg),
      var(--dark-active-bg)
    );
  }
}
